<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Kurset</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/courses_styles.css">
<link rel="stylesheet" type="text/css" href="styles/courses_responsive.css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
	.add-course-button {
	  background-color: #ffffff;
	  border: 1px solid !important; 
	  border-radius: 16px;
	  color: #45423e;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 18px;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-color: #45423e !important;
	}
	
	.add-course-button:hover {
		background-color: #f5d17d !important;
		border-color: #cf950e !important;
		color: #45423e;
	}
	
	.logout-button:hover {
		color:red !important;
	}
	
	.profile-button:hover {
		color: #353ce8 !important;
	}
	
	.button {
	  background-color: #ffa600;
	  border: none;
	  outline: none !important;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	}
	
	.button1 {padding: 10px 24px;}
</style>
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row" id="navbar">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
				<div class="logo">
					<img src="images/logo.png" alt="">
					<span>StudR</span>
				</div>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item"><a href="/index">kreu</a></li>
						<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/index.html#search">kërko kurse</a></li>
						<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/all_courses">kurset</a></li>
						<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/user_courses">kurset e mia</a></li>
						<li class="main_nav_item"><a href="/about">rreth nesh</a></li>
						<li class="main_nav_item"><a href="/contact">kontakt</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="header_side d-flex flex-row justify-content-center align-items-center" sec:authorize="isAuthenticated()">
			<a href="/user_profile" style="color:white; font-size: 20px;" class="profile-button">
				<i class="fa fa-user" aria-hidden="true"></i>
				Profili
			</a>
			<span>|</span>
			&nbsp;&nbsp;&nbsp;
			<a href="/logout" class="logout-button" style="color:white; font-size: 20px;">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				Dil
			</a>
		</div>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>
	
	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="/index">Kreu</a></li>
					<li class="menu_item menu_mm" sec:authorize="isAuthenticated()"><a href="/index.html#search">Kërko kurse</a></li>
					<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/all_courses">Kurset</a></li>
					<li class="menu_item menu_mm" sec:authorize="isAuthenticated()"><a href="/user_courses">Kurset e mia</a></li>
					<li class="menu_item menu_mm"><a href="/about">Rreth nesh</a></li>
					<li class="menu_item menu_mm"><a href="/contact">Kontakt</a></li>
				</ul>

				<!-- Menu Social -->
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Denisa & Ketrina të gjitha të drejtat e rezervuara 2020</div>
			</div>

		</div>

	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(images/slider_uni6.jpg)"></div>
		</div>
		<div class="home_content">
			<h1>Kurset</h1>
		</div>
	</div>

	<!-- Popular -->
<div class="allCourses" id="allCourses">
	<div class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Kurset</h1>
					</div>
				</div>
			</div><br><br><br>
			<div style="display: contents; font-size: 16px; color:#161769; font-weight:bold;">
				<div class="form-check form-check-inline">
				  <input class="form-check-input dept" type="checkbox" data-name="ekonomiks" onclick="updateOnClick()" style="margin-left:20px;">
				  <label class="" for="inlineCheckbox1" style="margin-right: 15px; margin-left:40px;" >Ekonomiks</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input dept" type="checkbox"  data-name="finance" onclick="updateOnClick()" style="margin-left:20px;">
				  <label class="" for="inlineCheckbox2" style="margin-right: 15px; margin-left:40px;">Financë</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input dept" type="checkbox"  data-name="kontabilitet" onclick="updateOnClick()" style="margin-left:20px;">
				  <label class="" for="inlineCheckbox1" style="margin-right: 15px; margin-left:40px;">Kontabilitet</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input dept" type="checkbox"  data-name="menaxhim" onclick="updateOnClick()" style="margin-left:20px;">
				  <label class="" for="inlineCheckbox2" style="margin-right: 15px; margin-left:40px;">Manaxhim</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input dept" type="checkbox"  data-name="marketing" onclick="updateOnClick()" style="margin-left:20px;">
				  <label class="" for="inlineCheckbox1" style="margin-right: 15px; margin-left:40px;">Marketing</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input dept" type="checkbox"  data-name="informatike" onclick="updateOnClick()" style="margin-left:20px;">
				  <label class="" for="inlineCheckbox2" style="margin-left:40px;">Statistikë dhe Informatikë e Zbatuar</label>
				</div>
				<button type="button" class="button button1 select-all-button">Shfaq të gjitha</button>
			</div> <br><br><br><br>
			<div id="ekonomiks"><br><br>
			<h3>Kurset e departamentit të Ekonomiksit</h3>
			<div class="row course_boxes">
				<th:block th:each="course : ${courses}">
					 <div class="col-lg-4 course_box" th:if="${course.department} == 'Departamenti i Ekonomiksit'">
						<div class="card">
							<img class="card-img-top" src="images/course_6.jpg" alt="https://unsplash.com/@kellybrito">
							<div class="card-body text-center"><br/>
									<p style="font-size: 16px; color:#161769; font-weight: bold;" th:text="${course.courseName}"></p>
								<p style="font-size: 14px; color:#ffa600" th:text="${course.department}"></p>
								<div class="card-text" th:if="${course.description} != ''">
									<span style="font-size: 14px; font-style: italic;" th:text="${course.description}"></span><br/>
								</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								<div class="course_author_name">
									<a class="d-flex flex-column align-items-center justify-content-center" sec:authorize="hasRole('student')" 
										th:if="${!#lists.contains(course.users, user)}" style="color:blue !important;" 
										th:href="@{/registerToCourse/{cid}(cid=${course.id})}" onClick="window.location.reload();">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:blue !important;">Regjistrohu</span>
									</a>
									<div sec:authorize="hasRole('student')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
									<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
									<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni të regjistruar</span>
									</div>
									<div sec:authorize="hasRole('profesor')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
										<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni drejtuesi i kursit</span>
									</div>
									<span th:text="${@courseController.findCourseProfessor(course)} + ' - Profesor'"> </span>
								</div> &nbsp;&nbsp;&nbsp;&nbsp;
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span th:text="${#lists.size(course.users)-1} + ' ' + Stud"></span></div>
							</div>
						</div>
					</div>               	 	
				</th:block>
			</div> <hr>
			</div>
			<div id="finance">
			<h3>Kurset e departamentit të Financës</h3>
			<div class="row course_boxes">
				<th:block th:each="course : ${courses}">
					 <div class="col-lg-4 course_box" th:if="${course.department} == 'Departamenti i Financës'">
						<div class="card">
							<img class="card-img-top" src="images/course_6.jpg" alt="https://unsplash.com/@kellybrito">
							<div class="card-body text-center"><br/>
									<p style="font-size: 16px; color:#161769; font-weight: bold;" th:text="${course.courseName}"></p>
								<p style="font-size: 14px; color:#ffa600" th:text="${course.department}"></p>
								<div class="card-text" th:if="${course.description} != ''">
									<span style="font-size: 14px; font-style: italic;" th:text="${course.description}"></span><br/>
								</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								<div class="course_author_name">
									<a class="d-flex flex-column align-items-center justify-content-center" sec:authorize="hasRole('student')" 
										th:if="${!#lists.contains(course.users, user)}" style="color:blue !important;" 
										th:href="@{/registerToCourse/{cid}(cid=${course.id})}" onClick="window.location.reload();">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:blue !important;">Regjistrohu</span>
									</a>
									<div sec:authorize="hasRole('student')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
									<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
									<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni të regjistruar</span>
									</div>
									<div sec:authorize="hasRole('profesor')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
										<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni drejtuesi i kursit</span>
									</div>
									<span th:text="${@courseController.findCourseProfessor(course)} + ' - Profesor'"> </span>
								</div> &nbsp;&nbsp;&nbsp;&nbsp;
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span th:text="${#lists.size(course.users)-1} + ' ' + Stud"></span></div>
							</div>
						</div>
					</div>               	 	
				</th:block>
			</div> <hr>
			</div>
			<div id="kontabilitet">
			<h3>Kurset e departamentit të Kontabilitetit</h3>
			<div class="row course_boxes">
				<th:block th:each="course : ${courses}">
					 <div class="col-lg-4 course_box" th:if="${course.department} == 'Departamenti i Kontabilitetit'">
						<div class="card">
							<img class="card-img-top" src="images/course_6.jpg" alt="https://unsplash.com/@kellybrito">
							<div class="card-body text-center"><br/>
									<p style="font-size: 16px; color:#161769; font-weight: bold;" th:text="${course.courseName}"></p>
								<p style="font-size: 14px; color:#ffa600" th:text="${course.department}"></p>
								<div class="card-text" th:if="${course.description} != ''">
									<span style="font-size: 14px; font-style: italic;" th:text="${course.description}"></span><br/>
								</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								<div class="course_author_name">
									<a class="d-flex flex-column align-items-center justify-content-center" sec:authorize="hasRole('student')" 
										th:if="${!#lists.contains(course.users, user)}" style="color:blue !important;" 
										th:href="@{/registerToCourse/{cid}(cid=${course.id})}" onClick="window.location.reload();">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:blue !important;">Regjistrohu</span>
									</a>
									<div sec:authorize="hasRole('student')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
									<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
									<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni të regjistruar</span>
									</div>
									<div sec:authorize="hasRole('profesor')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
										<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni drejtuesi i kursit</span>
									</div>
									<span th:text="${@courseController.findCourseProfessor(course)} + ' - Profesor'"> </span>
								</div> &nbsp;&nbsp;&nbsp;&nbsp;
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span th:text="${#lists.size(course.users)-1} + ' ' + Stud"></span></div>
							</div>
						</div>
					</div>               	 	
				</th:block>
			</div><hr>
			</div>
			<div id="menaxhim">
			<h3>Kurset e departamentit të Manaxhimit</h3>
			<div class="row course_boxes">
				<th:block th:each="course : ${courses}">
					 <div class="col-lg-4 course_box" th:if="${course.department} == 'Departamenti i Manaxhimit'">
						<div class="card">
							<img class="card-img-top" src="images/course_6.jpg" alt="https://unsplash.com/@kellybrito">
							<div class="card-body text-center"><br/>
									<p style="font-size: 16px; color:#161769; font-weight: bold;" th:text="${course.courseName}"></p>
								<p style="font-size: 14px; color:#ffa600" th:text="${course.department}"></p>
								<div class="card-text" th:if="${course.description} != ''">
									<span style="font-size: 14px; font-style: italic;" th:text="${course.description}"></span><br/>
								</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								<div class="course_author_name">
									<a class="d-flex flex-column align-items-center justify-content-center" sec:authorize="hasRole('student')" 
										th:if="${!#lists.contains(course.users, user)}" style="color:blue !important;" 
										th:href="@{/registerToCourse/{cid}(cid=${course.id})}" onClick="window.location.reload();">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:blue !important;">Regjistrohu</span>
									</a>
									<div sec:authorize="hasRole('student')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
									<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
									<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni të regjistruar</span>
									</div>
									<div sec:authorize="hasRole('profesor')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
										<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni drejtuesi i kursit</span>
									</div>
									<span th:text="${@courseController.findCourseProfessor(course)} + ' - Profesor'"> </span>
								</div> &nbsp;&nbsp;&nbsp;&nbsp;
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span th:text="${#lists.size(course.users)-1} + ' ' + Stud"></span></div>
							</div>
						</div>
					</div>               	 	
				</th:block>
			</div><hr>
			</div>
			<div id="marketing">
			<h3>Kurset e departamentit të Marketingut</h3>
			<div class="row course_boxes">
				<th:block th:each="course : ${courses}">
					 <div class="col-lg-4 course_box" th:if="${course.department} == 'Departamenti i Marketingut'">
						<div class="card">
							<img class="card-img-top" src="images/course_6.jpg" alt="https://unsplash.com/@kellybrito">
							<div class="card-body text-center"><br/>
									<p style="font-size: 16px; color:#161769; font-weight: bold;" th:text="${course.courseName}"></p>
								<p style="font-size: 14px; color:#ffa600" th:text="${course.department}"></p>
								<div class="card-text" th:if="${course.description} != ''" >
									<span style="font-size: 14px; font-style: italic;" th:text="${course.description}"></span><br/>
								</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								<div class="course_author_name">
									<a class="d-flex flex-column align-items-center justify-content-center" sec:authorize="hasRole('student')" 
										th:if="${!#lists.contains(course.users, user)}" style="color:blue !important;" 
										th:href="@{/registerToCourse/{cid}(cid=${course.id})}" onClick="window.location.reload();">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:blue !important;">Regjistrohu</span>
									</a>
									<div sec:authorize="hasRole('student')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
									<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
									<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni të regjistruar</span>
									</div>
									<div sec:authorize="hasRole('profesor')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
										<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni drejtuesi i kursit</span>
									</div>
									<span th:text="${@courseController.findCourseProfessor(course)} + ' - Profesor'"> </span>
								</div> &nbsp;&nbsp;&nbsp;&nbsp;
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span th:text="${#lists.size(course.users)-1} + ' ' + Stud"></span></div>
							</div>
						</div>
					</div>               	 	
				</th:block>
			</div><hr>
			</div>
			<div id="informatike">	
			<h3>Kurset e departamentit të Statistikës dhe Informatikës së Zbatuar</h3>
			<div class="row course_boxes">
				<th:block th:each="course : ${courses}">
					 <div class="col-lg-4 course_box" th:if="${course.department} == 'Departamenti i Statistikës dhe Informatikës së Zbatuar'">
						<div class="card">
							<img class="card-img-top" src="images/course_6.jpg" alt="https://unsplash.com/@kellybrito">
							<div class="card-body text-center"><br/>
									<p style="font-size: 16px; color:#161769; font-weight: bold;" th:text="${course.courseName}"></p>
								<p style="font-size: 14px; color:#ffa600" th:text="${course.department}"></p>
								<div class="card-text" th:if="${course.description} != ''">
									<span style="font-size: 14px; font-style: italic;" th:text="${course.description}"></span><br/>
								</div>
							</div>
							<div class="price_box d-flex flex-row align-items-center">
								<div class="course_author_name">
									<a class="d-flex flex-column align-items-center justify-content-center" sec:authorize="hasRole('student')" 
										th:if="${!#lists.contains(course.users, user)}" style="color:blue !important;" 
										th:href="@{/registerToCourse/{cid}(cid=${course.id})}" onClick="window.location.reload();">
										<i class="fa fa-user-plus" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:blue !important;">Regjistrohu</span>
									</a>
									<div sec:authorize="hasRole('student')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
									<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
									<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni të regjistruar</span>
									</div>
									<div sec:authorize="hasRole('profesor')" th:if="${#lists.contains(course.users, user)}" style="color:#1aa123 !important;" class="add-chapter-button">
										<i class="fas fa-user-check" aria-hidden="true" style="font-size: 14px; font-weight: bold;"></i>
										<span  style="font-size: 14px; color:#1aa123 !important;">Ju jeni drejtuesi i kursit</span>
									</div>
									<span th:text="${@courseController.findCourseProfessor(course)} + ' - Profesor'"> </span>
								</div> &nbsp;&nbsp;&nbsp;&nbsp;
								<div class="course_price d-flex flex-column align-items-center justify-content-center"><span th:text="${#lists.size(course.users)-1} + ' ' + Stud"></span></div>
							</div>
						</div>
					</div>               	 	
				</th:block>
			</div>
		</div>
	  </div>		
	</div>
   </div>
<!-- Footer -->

	<footer class="footer">
		<div class="container">
			
			<!-- Footer Content -->

			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<img src="images/logo.png" alt="">
								<span>StudR</span>
							</div>
						</div>

						<p class="footer_about_text">Platforma e cila do t'ju ndihmojë të arrini rezultatet që gjithmonë i keni dëshiruar.</p>

					</div>

					<!-- Footer Column - Menu -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="/index">Kreu</a></li>
								<li class="footer_list_item" sec:authorize="isAuthenticated()"><a href="/user_courses">Kurset</a></li>
								<li class="footer_list_item"><a href="/about">Rreth nesh</a></li>
								<li class="footer_list_item"><a href="/contact">Kontakt</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Faqe të nevojshme</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Kontakt</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									Fakulteti i Ekonomisë,
									Rr. Arben Broci, 1003 Tiranë, Shqipëri
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									+355 69 765 0584
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>infostudr@gmail.com
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span>
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> Të gjitha të drejtat e rezervuara Denisa & Ketrina
					</span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/courses_custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
   var prevScrollpos = window.pageYOffset;
   window.onscroll = function() {
   var currentScrollPos = window.pageYOffset;
     if (prevScrollpos > currentScrollPos) {
       document.getElementById("navbar").style.top = "45px";
     } else {
       document.getElementById("navbar").style.top = "-110px";
     }
     prevScrollpos = currentScrollPos;
   }
   
   $('.dept').click(function () {
	   var checkbox = $(this);
	     var name = checkbox.data('name');
	     if( checkbox.is(':checked') ) {   
	       $( '#' + name ).show();
	     } else {                      
	       $( '#' + name ).hide();
	     }  
	});
   
   function update() {
	     var checkbox = $(this);
	     var name = checkbox.data('name');
	     if( checkbox.is(':checked') ) {   
	       $( '#' + name ).show();
	     } else {                      
	       $( '#' + name ).hide();
	     }          
   }

   function updateOnClick() {
   		$('.dept').change(update).each(update);
   }
	 
   function showAll() {
	   var checkbox = $(this);
	     var name = checkbox.data('name');
	     if( checkbox.not(':checked') ) {   
	       $( '#' + name ).show();
	     } else {}   
   }
   
   window.onload = function() {
	   showAll();
	};
	
	var clicked = false;
	$(".select-all-button").on("click", function() {
	  $(".dept").prop("checked", !clicked);
	  clicked = !clicked;
	  this.innerHTML = clicked ? 'Mos shfaq' : 'Shfaq të gjitha';
	  $('.dept').change(update).each(update);
	});
	
</script>
</body>
</html>