<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Kapitujt</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Course Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://localhost:8086/styles/bootstrap4/bootstrap.min.css">
<link href="http://localhost:8086/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://localhost:8086/styles/courses_styles.css">
<link rel="stylesheet" type="text/css" href="http://localhost:8086/styles/courses_responsive.css">
<link rel="stylesheet" type="text/css" href="http://localhost:8086/styles/main_styles.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
	.add-chapter-button {
	  background-color: #ffffff;
	  border: 1px solid !important; 
	  border-radius: 16px;
	  color: #45423e;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 18px;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-color: #45423e !important;
	}
	
	.add-chapter-button:hover {
		background-color: #f5d17d !important;
		border-color: #cf950e !important;
		color: #45423e;
	}
	.back-button:hover {
		color:#45423e !important;
	}
	body {
        background-color: #ffffff !important;
	}
	#chapterDetails .col-lg-3 {
        background-color: #ffffff !important;
	}
	
	.logout-button:hover {
		color:red !important;
	}
	
	.profile-button:hover {
		color: #353ce8 !important;
	}
	
    .check-hw:hover a {
		color: #ff6200 !important;
	}
	
	.check-hw:hover i {
		color: #ff6200 !important;
	}
</style>
</head>

<body>
<div class="super_container">

	<!-- Header -->

	<header class="header d-flex flex-row" id="navbar">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
				<div class="logo">
					<img src="http://localhost:8086/images/logo.png" alt="">
					<span>StudR</span>
				</div>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item"><a href="/index">kreu</a></li>
						<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/index.html#search">kërko kurse</a></li>
						<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/all_courses">kurset</a></li>
						<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/user_courses">kurset e mia</a></li>
						<li class="main_nav_item"><a href="/about">rreth nesh</a></li>
						<li class="main_nav_item"><a href="/contact">kontakt</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="header_side d-flex flex-row justify-content-center align-items-center" sec:authorize="isAuthenticated()">
			<a href="/user_profile" style="color:white; font-size: 20px;" class="profile-button">
				<i class="fa fa-user" aria-hidden="true"></i>
				Profili
			</a>
			<span>|</span>
			&nbsp;&nbsp;&nbsp;
			<a href="/logout" class="logout-button" style="color:white; font-size: 20px;">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
				Dil
			</a>
		</div>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>

	</header>
	
	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="/index">Kreu</a></li>
					<li class="menu_item menu_mm" sec:authorize="isAuthenticated()"><a href="/index.html#search">Kërko kurse</a></li>
					<li class="main_nav_item" sec:authorize="isAuthenticated()"><a href="/all_courses">Kurset</a></li>
					<li class="menu_item menu_mm" sec:authorize="isAuthenticated()"><a href="/user_courses">Kurset e mia</a></li>
					<li class="menu_item menu_mm"><a href="/about">Rreth nesh</a></li>
					<li class="menu_item menu_mm"><a href="/contact">Kontakt</a></li>
				</ul>

				<!-- Menu Social -->
				
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Denisa & Ketrina të gjitha të drejtat e rezervuara 2020</div>
			</div>

		</div>

	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background_container prlx_parent">
			<div class="home_background prlx" style="background-image:url(http://localhost:8086/images/slider_uni7.jpg)"></div>
		</div>
		<div class="home_content">
			<h1 style="font-size: 35px;" th:text="${chapter.title}"></h1>
		</div>
	</div>

	<div id="chapterDetails" class="popular page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="text-center">
						<a th:href="@{/course_chapters/{cid}(cid=${course.id})}">
							<i class="fa fa-arrow-left back-button" aria-hidden="true" style="font-size: 30px; width:50px; color:#bfbfbf;"></i>
							<span class="back-button" style="font-size: 20px; color:#bfbfbf;">Shko te kapitujt</span>
						</a>
					</div>
					<br/>
					<div class="section_title text-center">
						<h1>Më poshtë do të gjeni detajet e kapitullit <br/>
							<span th:text="${chapter.title}"></span>
						</h1>
						<div style="display: inline-block !important;" sec:authorize="hasRole('profesor')">
							<a th:if="${chapter.quiz == null}" th:href="@{/teacher/add_quiz/{cid}(cid=${chapter.id})}" class="add-chapter-button" style="font-size: 14px;">
								<i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 16px; font-weight: bold;"></i>&nbsp;
								Shto quiz
							</a>
						</div>
						<div style="display: inline-block !important;" sec:authorize="hasRole('profesor')">
							<a th:if="${chapter.quiz != null}" th:href="@{/teacher/students_quiz_results/{qid}(qid=${quiz.id})}" class="add-chapter-button" style="font-size: 14px;">
								Shikoni rezultatet e studentëve në quiz
								<i class="fas fa-angle-double-right" style="font-size: 14px; font-weight: bold;"></i>
							</a>
						</div>
						<div style="display: inline-block !important;" sec:authorize="hasRole('student')" th:if="${!showAnswers}" >
							<a th:if="${chapter.quiz != null and !#lists.isEmpty(quiz.questions)}" th:href="@{/student/take_quiz/{qid}(qid=${quiz.id})}" class="add-chapter-button" style="font-size: 14px;">
								Filloni quizin
								<i class="fa fa-pencil" aria-hidden="true" style="font-size: 12px; font-weight: bold;"></i>
							</a>
						</div>
						<div style="display: inline-block !important;" sec:authorize="hasRole('student')">
							<a th:if="${showAnswers}" th:href="@{/student/show_answers/{qid}(qid=${quiz.id})}" class="add-chapter-button" style="font-size: 14px;">
								Shikoni përgjigjet e quizit
								<i class="fas fa-angle-double-right" aria-hidden="true" style="font-size: 12px; font-weight: bold;"></i>
							</a>
						</div>
						<div style="display: inline-block !important;" sec:authorize="hasRole('student')">
							<a th:if="${chapter.quiz != null}" th:href="@{/student/quiz_results/{qid}(qid=${quiz.id})}" class="add-chapter-button" style="font-size: 14px;">
								Shikoni rezultatet tuaja
								<i class="fa fa-check" aria-hidden="true" style="font-size: 12px; font-weight: bold;"></i>
							</a>
						</div> <br/><br/>
						<a sec:authorize="hasRole('profesor')" th:if="${chapter.quiz != null}" th:href="@{/teacher/edit_quiz/{qid}/(qid=${quiz.id})}" 
							style="font-size: 14px; font-weight: bold; color:#000080;">
							Editoni quizin
							<i class="fas fa-edit" style="font-size: 16px;"></i>
						</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a sec:authorize="hasRole('profesor')" th:if="${chapter.quiz != null}" th:href="@{/delete/quiz/{qid}/chapter/{cid}(qid=${quiz.id}, cid=${chapter.id})}" 
							style="font-size: 14px; font-weight: bold; color:red;">
							Fshini quizin
							<i class="fa fa-trash" aria-hidden="true" style="font-size: 16px;"></i>
						</a>
						
					</div>
				</div>
			</div>
			<br/><br/><br/><br/>
			<div class="col-md-10">
				<div class="row inbox-wrapper" style="padding:0px !important;">
				    <div class="col-lg-12">
				      <div class="card">
				        <div class="card-body">
				          <div class="row">
				            <div class="col-lg-3 email-aside border-lg-right">
				            </div>
				            <div class="col-lg-9 email-content">
				              <div class="email-head">
				                <div class="email-head-sender d-flex align-items-center justify-content-between flex-wrap">
				                  <div class="d-flex align-items-center">
				                    <div class="avatar">
				                    	<h2><i class="fa fa-list-alt" style="color:#45423e;" aria-hidden="true"></i></h2>
				                    </div>
				                    <div class="sender d-flex align-items-center">
				                      <h2 style="color:#45423e;">&nbsp;&nbsp;Përmbledhje</h2>
				                    </div>
				                    <br/> <br/> <br/>
				                  </div>
				                </div>
				              </div>
				              <div class="email-body">
				                <p th:text="${chapter.summary}"></p>
				              </div>
				              <hr>
				              <div class="email-attachments" >
				                <div class="title" style="color:#45423e; font-weight: bold; font-size: 16px;">Dokumenta (<span th:text="${numberOfFiles}"></span>) 
					                <a th:href="@{/teacher/add_files/{cid}(cid=${chapter.id})}" sec:authorize="hasRole('profesor')">
									<i class="fa fa-upload" aria-hidden="true" style="font-size: 18px; color:#3c6cf0;"></i></a>
								</div>
				                <ul>
				                	<th:block th:each="file : ${files}">
				                		<li><a th:href="@{/download/file/{fid}(fid=${file.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg><span th:text="${file.fileName}"></span></a>
				                			<a sec:authorize="hasRole('profesor')" th:href="@{/delete/file/{fid}/chapter/{cid}(fid=${file.id}, cid=${chapter.id})}"><i class="far fa-trash-alt"></i></a>
				                		</li>
				                	</th:block>
				                </ul>
				                <h4 th:if="${#lists.isEmpty(files)}" style="text-align: center;">Ky kapitull nuk ka akoma asnjë dokument</h4>       
				              </div>
				              <hr>
				              <div class="email-attachments">
				                <div class="title" style="color:#45423e; font-weight: bold; font-size: 16px;">Detyra 
					                <a th:href="@{/teacher/add_homework/{cid}(cid=${chapter.id})}" sec:authorize="hasRole('profesor')" th:if="${teacherHomework} == null">
									<i class="fa fa-upload" aria-hidden="true" style="font-size: 18px; color:#3c6cf0;"></i></a>
								</div>
								<span th:if="${teacherHomework} != null">(Afati i dorëzimit:</span> <span th:if="${teacherHomework} != null" th:text="${submissionDate} + ')'"></span>
				                <ul th:if="${teacherHomework} != null">
			                		<li><a th:href="@{/download/hw/{hid}(hid=${teacherHomework.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
			                		<span th:text="${teacherHomework.hwName}"></span></a>
			                			<a sec:authorize="hasRole('profesor')" th:href="@{/delete/homework/{hid}/chapter/{cid}(hid=${teacherHomework.id}, cid=${chapter.id})}"><i class="far fa-trash-alt"></i></a>
			                		</li>
				                </ul>
				                <h4 th:if="${teacherHomework} == null" style="text-align: center;">Ky kapitull nuk ka akoma asnjë detyrë</h4>       
				              </div>
				              <hr>
				              <div class="email-attachments" sec:authorize="hasRole('student')" th:if="${teacherHomework} != null">
				                <div th:if="${studentSubmission} == null" class="title" style="color:#45423e; font-weight: bold; font-size: 16px;">Dorëzo detyrën 
					                <a th:href="@{/student/submit_homework/{cid}(cid=${chapter.id})}" th:if="${studentSubmission} == null and ${diffInDays >= 0}">
									<i class="fa fa-upload" aria-hidden="true" style="font-size: 18px; color:#3c6cf0;"></i></a>
								</div>
								 <div th:if="${studentSubmission} != null" class="title" style="color:#45423e; font-weight: bold; font-size: 16px;">Detyra juaj 
								</div>
								<span th:if="${studentSubmission} != null">(Data e dorëzimit:</span> <span th:if="${studentSubmission} != null" th:text="${submittedDate} + ')'"></span>
				                <ul th:if="${studentSubmission} != null">
			                		<li><a th:href="@{/download/shw/{shid}(shid=${studentSubmission.id})}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg> 
			                		<span th:text="${studentSubmission.submittedHomeworkName}"></span></a>
			                			<a sec:authorize="hasRole('student')" th:href="@{/delete/submission/{hid}/chapter/{cid}(hid=${studentSubmission.id}, cid=${chapter.id})}"><i class="far fa-trash-alt"></i></a>
			                		</li>
				                </ul>
				                <h4 th:if="${studentSubmission} == null" style="text-align: center;">Ju nuk e keni dorëzuar detyrën! <br/>
				                  <span th:text="${remainingTime}" th:if="${diffInDays >= 0} and ${diffInHours > 0}"></span>
				                  <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;" th:if="${diffInDays < 0} and ${diffInHours <= 0}"></i>&nbsp;<span th:text="${remainingTime}" style="color: red;" th:if="${diffInDays < 0} and ${diffInHours <= 0}"></span>
				                </h4>       
				              </div>
				              <div class="email-attachments" sec:authorize="hasRole('profesor')" th:if="${teacherHomework} != null">
				                <div class="title check-hw" style="color:#1a3054; font-weight: bold; font-size: 16px;">
					                <a th:href="@{/teacher/students_homework/{cid}(cid=${chapter.id})}" style="color:#ff9100"> Kontrolloni detyrat e studentëve
									<i class="fas fa-angle-double-right" aria-hidden="true" style="font-size: 18px; color:#ff9100;"></i></a>
								</div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
		</div>		
	</div>

<!-- Footer -->

	<footer class="footer">
		<div class="container">
			
			<!-- Footer Content -->

			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<img src="http://localhost:8086/images/logo.png" alt="">
								<span>StudR</span>
							</div>
						</div>

						<p class="footer_about_text">Platforma e cila do t'ju ndihmojë të arrini rezultatet që gjithmonë i keni dëshiruar.</p>

					</div>

					<!-- Footer Column - Menu -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="http://localhost:8086/index">Home</a></li>
								<li class="footer_list_item"><a href="http://localhost:8086/about">Rreth nesh</a></li>
								<li class="footer_list_item"><a href="http://localhost:8086/courses.html">Courses</a></li>
								<li class="footer_list_item"><a href="http://localhost:8086/contact">Contact</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Faqe të nevojshme</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Kontakt</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="http://localhost:8086/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									Fakulteti i Ekonomisë,
									Rr. Arben Broci, 1003 Tiranë, Shqipëri
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="http://localhost:8086/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>
									+355 69 765 0584
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<img src="http://localhost:8086/images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
									</div>infostudr@gmail.com
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span>
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> Të gjitha të drejtat e rezervuara Denisa & Ketrina
					</span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>

<script src="http://localhost:8086/js/jquery-3.2.1.min.js"></script>
<script src="http://localhost:8086/styles/bootstrap4/popper.js"></script>
<script src="http://localhost:8086/styles/bootstrap4/bootstrap.min.js"></script>
<script src="http://localhost:8086/plugins/greensock/TweenMax.min.js"></script>
<script src="http://localhost:8086/plugins/greensock/TimelineMax.min.js"></script>
<script src="http://localhost:8086/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="http://localhost:8086/plugins/greensock/animation.gsap.min.js"></script>
<script src="http://localhost:8086/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="http://localhost:8086/plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="http://localhost:8086/plugins/easing/easing.js"></script>
<script src="http://localhost:8086/js/courses_custom.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
   var prevScrollpos = window.pageYOffset;
   window.onscroll = function() {
   var currentScrollPos = window.pageYOffset;
     if (prevScrollpos > currentScrollPos) {
       document.getElementById("navbar").style.top = "45px";
     } else {
       document.getElementById("navbar").style.top = "-110px";
     }
     prevScrollpos = currentScrollPos;
   }
</script>
</body>
</html>